{% extends "::plantilla.html.twig" %}
{%block content %}
    <h2>Agregar etiquetas:</h2>
    <div class="col-lg-4">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
    <div class="clearfix"></div>
{%endblock%}

